* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #6fd6f1;
}

.container {
  background-color: #8f8f8f;
  margin: 0 auto;
  width: 90%;
}

section {
  /*height: 65.6rem;*/
  /*margin-top: 2rem;*/
  margin: 0 auto;
  padding-top: 10rem;
  padding-bottom: 18rem;
  text-align: center;
}

hr {
  border: none;
  height: 0.2rem;
  /* Set the hr color */
  color: #00ffff; /* old IE */
  background-color: #00ffff; /* Modern Browsers */
  width: 6rem;
}

.image {
  max-width: 100%;
  height: auto;
}

.ravenImg {
  max-width: 100%;
  height: auto;
  padding: 11rem 5rem;
}

h2 {
  background-image: url("stroke_bg.svg");
}

section.hero {
  font-family: "Tamil MN", "Ubuntu", Helvetica, sans-serif;
}

ul {
  text-align: left;
  list-style: outside;
  list-style-position: inside;
}

 @media screen and (min-width: 768px) {
   .container {
     width: 80%;
   }

   .heroText{
     float: left;
     width: 50%
   }
   .heroImage {
     float: right;
   }
   section.project {
     /*grid-template-columns: 8fr 4fr;
     grid-template-areas:
     "imgContent textContent"*/
   }
 }
 @media screen and (min-width: 1000px) {
   .container {
     width: 80%;
   }
 }
