* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #6fd6f1;
}

.container {
  background-color: #8f8f8f;
  margin: 0 auto;
  width: 90%;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.active {
  display: block;
}

.main-nav li {
    text-align: center;
    margin: 1.5rem auto;
}
.logo {
    display: inline-block;
    font-size: 2.2rem;
    margin-top: 1rem;
    margin-left: 2rem;
}

.navbar-toggle {
    position: absolute;
    top: 1rem;
    right: 5rem;
    cursor: pointer;
    color: ;
    font-size: 2.4rem;
}

section {
  /*margin-top: 2rem;*/
  margin: 0 auto;
  padding-top: 10rem;
  padding-bottom: 18rem;
  text-align: center;
}

section.hero {
  font-family: "Tamil MN", "Ubuntu", Helvetica, sans-serif;
}

.heroImage {
  display: none;
}


.ravenImg {
  /*grid-area: imgContent;*/
  max-width: 100%;
  height: auto;
  padding: 11rem 5rem;
  /*position: relative;
  top: 0;
  left: 0;*/
}

/*.bottom {
  position: relative;
  top: 0;
  left: 0;
}

.top {
  position: absolute;
  top: -3rem;
  left: 5rem;
}*/

.projecText{
  /*grid-area: textContent;*/
  padding: 5.5rem 0;
}


h1 {
  font-size: 7.2rem;
  font-weight: bold;
}

.blockLarge {
  font-size: 2.4rem;
  line-height: 3.5rem;
  margin-top: 3.5rem;
}

.blockSmall {
  font-size: 1.8rem;
  line-height: 2.5rem;
  margin-top: 3rem;
}

   /*footer.mdl-mini-footer {
   bottom: 0;
   padding: 0.5rem;
   position: fixed;
   width: 100%;
   z-index: 1;
 }
 footer.mdl-mini-footer > ul {
   margin: auto;
   font-size: 2rem;
 }*/
 @media screen and (min-width: 768px) {
   .container {
     width: 80%;
     overflow: auto;}

   .navbar {
           display: flex;
           justify-content: space-between;
           padding-bottom: 0;
           height: 70px;
           align-items: center;
       }
       .main-nav {
           display: flex;
           margin-right: 30px;
           flex-direction: row;
           justify-content: flex-end;
       }
       .main-nav li {
           margin: 0;
       }
       .nav-links {
           margin-left: 40px;
       }
       .logo {
           margin-top: 0;
       }
      .navbar-toggle {
          display: none;
       }
       .logo:hover,
       .nav-links:hover {
           color: rgba(255, 255, 255, 1);
       }

   .heroText{
     float: left;
     width: 50%;
   }

   .projecText{
     float: left;
     width: 40%;
   }

   .ravenImg{
     float: right;
     width: 60%;
   }

 }
 @media screen and (min-width: 1000px) {
   .container {
     width: 80%;
   }
 }
